@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="light"] {
  --bg-main: #ffffff;
  --bg-sub: #f6f7f9;
}
html,
body {
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
  background: #f6f7f9;
  color: #555;
  letter-spacing: -0.1rem;
}

.responsive_layout {
  border: solid 1px #e6e6e6;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  max-width: 52rem;
  margin: 0 auto;
  height: 100svh;
  background: #fff;
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.responsive_layout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.drop_shadow {
  filter: drop-shadow(0 8mm 2mm rgba(255, 255, 255, 0.3));
}

.card-wrap {
  position: relative;
  width: 100%;
  height: 80rem;
  margin: 0 auto;
  border-radius: 2rem;
  perspective: 50rem;
  overflow: hidden;
  cursor: pointer;
}

.card-wrap .card {
  width: 39rem;
  height: 39rem;
  margin: 15rem auto;
  z-index: 50;
  transition-property: transform(rotateX);
  transition-duration: 0.5s;
  transform-style: preserve-3d;
}

.card-wrap .card.rotate {
  transform: rotateY(180deg);
}

.card-wrap .card > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
}

.card-wrap .card .card-front {
  background-color: #f25d24;
  z-index: 10;
}

.card-wrap .card .card-back {
  background-color: #ccc;
  z-index: 5;
  transform: rotateY(180deg);
}

.card-wrap-main {
  position: relative;
  border-radius: 2rem;
  perspective: 50rem;
  overflow: hidden;
  cursor: pointer;
}

.card-wrap-main .card {
  margin-top: 3rem;
  z-index: 50;
  transition-property: transform(rotateX);
  transition-duration: 1.8s;
  transform-style: preserve-3d;
}

.card-wrap-main .card.rotate {
  transform: rotateY(180deg);
}

.card-wrap-main .card > div {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 3rem;
}

.card-wrap-main .card .card-front {
  z-index: 10;
}

.card-wrap-main .card .card-back {
  z-index: 5;
  transform: rotateY(180deg);
}

@media screen and (max-width: 520px) {
  html,
  body {
    font-size: 1.9231vw;
    overflow-x: hidden;
    background: #fff;
    padding: 0;
  }

  .responsive_layout {
    max-width: 100vw;
  }
}
